.AddObjectiveDialog {
    background-color: #fff;
    border: 1px solid #000;
    height: 250px;/*height needs to be set*/
    width: 550px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.innerObjectiveDialog{
    height: 100%;
    text-align:center;
    position: relative;
}

.close {
    text-align: right;
    margin-right: 10px;
    z-index: 10;
}