<head>
    <p>TEST</p>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script type="text/javascript">
        let ws = io.connect();
        ws.on('connect', function(msg) {
            console.log("CONNECTED");
            //ws.emit('connection', {data: {type:'player', name:'P1'}});
        });

        ws.on('connection', function(msg){
            console.log("PLS");
            console.log(msg.data);
        });
    </script>
</head>
