<head>
    <p>TEST</p>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script type="text/javascript">
        let ws = io.connect();
        ws.on('connect', function(msg) {
            console.log("CONNECTED");
            num = Math.floor((Math.random() * 10));
            ws.emit('connection', {data: {type:'player', name:'P'+num}});
        });

        ws.on('connection', function(msg){
            console.log("CONNECTION");
            console.log(msg.data);
        });

        ws.on('rank', function(msg){
            console.log("RANK");
            console.log(msg.data);
        });
    </script>
</head>
