<head>
    <p>TEST</p>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script type="text/javascript">
        const ws = io.connect('ws://127.0.0.1:5000');
        //ws.send(JSON.stringify("connect"));

        ws.on('connect', function() {
            console.log("CONNECTED")
            ws.emit('get_game_info', {data: "I'm connected!", game: 100});
        });

        ws.on('my_response', function (message) {
            console.log(message);
        });
        ws.on('penis', function(){
            console.log('penis');
        });

        ws.on('game_info', function(message){
            console.log('get_game_info');
            console.log(message);
        });
    </script>
</head>